<header id="top-reader">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login" <% if(locals.loggedin) { %> hidden <% } %>>My Account</a>
        
       
        <a href="/inv" id="welcomeBasic" title="Welcome basic" <% if(!locals.loggedin) { %> hidden <% }%>>Welcome Basic</a>
        <a href="#" id="logout" title="Logout" <% if(!locals.loggedin) { %> hidden <% }%>>Logout</a>
    </div>
</header>

