<!-- Content heading -->
<% if (title){ %> <%#EJS Code Block to contain JS if structure if a title exists  %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- message %>